.git
.gitignore
.gitattributes
.editorconfig
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/debugbar
bootstrap/cache/*.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
tests
docker-compose*.yml
README.md
npm-debug.log
yarn-error.log
Dockerfile
.dockerignore
.idea
.vscode
