-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: localhost    Database: chevaux_complet
-- ------------------------------------------------------
-- Server version	8.0.35

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cheval_naisseur`
--

DROP TABLE IF EXISTS `cheval_naisseur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cheval_naisseur` (
  `cheval_id` int NOT NULL,
  `naisseur_id` int NOT NULL,
  `pourcentage` int DEFAULT '100',
  PRIMARY KEY (`cheval_id`,`naisseur_id`),
  KEY `naisseur_id` (`naisseur_id`),
  CONSTRAINT `cheval_naisseur_ibfk_1` FOREIGN KEY (`cheval_id`) REFERENCES `chevaux` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cheval_naisseur_ibfk_2` FOREIGN KEY (`naisseur_id`) REFERENCES `naisseurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cheval_naisseur`
--

LOCK TABLES `cheval_naisseur` WRITE;
/*!40000 ALTER TABLE `cheval_naisseur` DISABLE KEYS */;
INSERT INTO `cheval_naisseur` VALUES (1,1,100);
/*!40000 ALTER TABLE `cheval_naisseur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chevaux`
--

DROP TABLE IF EXISTS `chevaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chevaux` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `race` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sexe` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `robe` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `annee_naissance` year DEFAULT NULL,
  `date_naissance` date DEFAULT NULL,
  `lieu_naissance` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sire_numero` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ueln_numero` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `studbook_naissance` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `transpondeur` tinyint(1) DEFAULT NULL,
  `numero_transpondeur` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_pose_transpondeur` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `taille` decimal(3,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sire_numero` (`sire_numero`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chevaux`
--

LOCK TABLES `chevaux` WRITE;
/*!40000 ALTER TABLE `chevaux` DISABLE KEYS */;
INSERT INTO `chevaux` VALUES (1,'FLAMME DE NOE','Selle Fran├ºais','Femelle','Bai',2015,'2015-03-31','LIGNIERES 18160','15194683P','25000115194683P','STUD BOOK FRANCAIS DU CHEVAL',1,'250258500113798','2015-06-29','2026-01-30 13:15:18',1.65);
/*!40000 ALTER TABLE `chevaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `naisseurs`
--

DROP TABLE IF EXISTS `naisseurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `naisseurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `adresse` text COLLATE utf8mb4_unicode_ci,
  `telephone` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `naisseurs`
--

LOCK TABLES `naisseurs` WRITE;
/*!40000 ALTER TABLE `naisseurs` DISABLE KEYS */;
INSERT INTO `naisseurs` VALUES (1,'MADAME MONIQUE CHABIN-LEDRESSEUR','21 Bis Rte De La Gare, Patinges, 18320 Torteron','+33248761343');
/*!40000 ALTER TABLE `naisseurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedigrees`
--

DROP TABLE IF EXISTS `pedigrees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedigrees` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cheval_id` int DEFAULT NULL,
  `type` enum('pere','mere') COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sire_numero` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ueln_numero` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_naissance` date DEFAULT NULL,
  `pays_naissance` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `studbook` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cheval_id` (`cheval_id`),
  CONSTRAINT `pedigrees_ibfk_1` FOREIGN KEY (`cheval_id`) REFERENCES `chevaux` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedigrees`
--

LOCK TABLES `pedigrees` WRITE;
/*!40000 ALTER TABLE `pedigrees` DISABLE KEYS */;
INSERT INTO `pedigrees` VALUES (1,1,'pere','HURLEVENT DE BREKA','95488703F','25000195488703F','1995-05-15','FRANCE','STUD BOOK DU SELLE FRANCAIS'),(2,1,'mere','QUASSIA DÔÇÖAUBOIS','04401410H','25000104401410H','2004-05-27','FRANCE','STUD BOOK DU SELLE FRANCAIS');
/*!40000 ALTER TABLE `pedigrees` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-23 15:11:48
